/* http://css3buttongenerator.com/ */
.btn_submit {
	background: #6abdf5;
	background-image: -webkit-linear-gradient(top, #6abdf5, #299ee6);
	background-image: -moz-linear-gradient(top, #6abdf5, #299ee6);
	background-image: -ms-linear-gradient(top, #6abdf5, #299ee6);
	background-image: -o-linear-gradient(top, #6abdf5, #299ee6);
	background-image: linear-gradient(to bottom, #6abdf5, #299ee6);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 3px 3px 1px #666666;
	font-family: Lucida Console;
	color: #ffffff;
	font-size: 18px;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
}
.btn_submit:hover {
	background: #279de6;
	background-image: -webkit-linear-gradient(top, #279de6, #249ae3);
	background-image: -moz-linear-gradient(top, #279de6, #249ae3);
	background-image: -ms-linear-gradient(top, #279de6, #249ae3);
	background-image: -o-linear-gradient(top, #279de6, #249ae3);
	background-image: linear-gradient(to bottom, #279de6, #249ae3);
	text-decoration: none;
}
.btn_disabled {
	background: #7C7C7C;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 3px 3px 1px #666666;
	font-family: Lucida Console;
	color: #C9C9C9;
	font-size: 18px;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
}