html {
	height: 100%; 
	text-align: center;
}

body {
	text-align: center;
	font-size:16;
}

a {
	color: #587CE6;
	text-decoration: none;
}

.status {
	font-family: Lucida Sans Unicode; 
	font-size: 20px; 
	padding: 0px 0px 20px 0px;
}

#progress {
	height: 250px;
	font-size: 40px;
	padding: 20px 0px 20px 0px;
}
#progress > svg {
	height: 100%;
	display: block;
}

#judge_error {
    border-radius: 10px;
    background: #FFCED7;
	color: #D50E33;
	font-family: 'Consolas', Courier, monospace;
	font-size: 16px;
    padding: 15px 20px 15px 20px;
	min-width: 600px;
	max-width: 1000px;
	white-space: pre-wrap;
	margin: 0 auto;
	text-align: left;
	display: none;
}

#judge_result {
    border-radius: 10px;
    background: #EFEFEF;
    padding: 15px 30px 15px 30px;
	min-width: 300px;
	max-width: 700px;
	white-space: pre-wrap;
	margin: auto;
	margin-bottom: 30px;
	display: none;
	text-align: left;
	font-family: Lucida Sans Unicode; 
	font-size: 16px;
}


/* Summary Table */
table {
	border: 2px groove #68BAF9;
	margin: auto;
	border-collapse: collapse;
}

table tr {
	border: 1px solid #AAD4F3;
	max-width:500px; 
	padding: 5px 10px 5px 10px;
}

table td {
	//border: 1px solid #D5D5D5;
	max-width:500px; 
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #E7E7E7
}

table tr:hover {
	background: #FCFCFF;
}

.tr1 td {
	font-weight: bold;
	font-family: Lucida Sans Unicode;
	text-align: center;
	padding: 0px 10px 0px 10px;
	background: #E1F2FF;
	color: #2DA2FB;
}

.id {
	font-family: Comic Sans MS;
	text-align: center;
	vertical-align: text-top;
	color: #587CE6;
	padding: 5px 13px 5px 13px;
}

.accepted {
	font-weight: bold;
	color: green;
	text-align: center;
	vertical-align: text-top;
}

.incorrect {
	font-weight: bold;
	color: red;
	text-align: center;
	vertical-align: text-top;
}

.io {
	font-family: 'Consolas', Courier, monospace;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-all;
	vertical-align: top;
}
